body {
    background-color: #2b2c30;
    margin: 0px;
}

.cabecalho {
    background-color: #ff1457;
    display: flex;
    justify-content: space-between;
    padding: 20px 130px 20px 50px;
    align-items: center;
}

.cabecalho>a {
    text-decoration: none;
}


.titulo {
    color: aliceblue;
    font-size: 15px;
    font-family: 'Archivo Black', sans-serif;
}

.navegacao {
    display: flex;
    padding: 10px;
}

.navegacao>ul {
    display: flex;
    gap: 70px;
}

.navegacao>ul>li>a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;


        &:hover {
            color: aqua;
            font-size: 21px;
        }
}

.conteudo {
    display: flex;
    padding: 90px 140px 90px 140px;
    justify-content: space-around;
    gap: 50px;
    height: 650px;
    align-items: center;
}

.introvideo {
    padding: 5px;
    background-color: black;
}

.ladoesquerdo {

}

.ladoesquerdo>img {
    width: 500px;
    background-color: black;
}

.ladodireito {

}

.ladodireito>h1 {
    color: black;
    font-size: 50px;
    padding: 160px 0 0 10px;
    
}

.ladodireito>p {
    font-size: 20px;
    color: black;
    padding: 30px 0 0 10px;
}

footer {
    background-color: #ff1457;
}

.rodape {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.rodapelogo>h1 {
    color: aliceblue;
}

.rodapelinks>ul {
    display: flex;
    gap: 30px;

}

.rodapelinks>ul>li>a {
text-decoration: none;
color: aliceblue;
}

.rodapesocial {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 0 0;
    gap: 15px 0 0;
}

.rodapesocial>a {
    text-decoration: none;
    color: aliceblue;
}

.rodapebotoes {
    display: flex;
    justify-content: center;
}